.env

env
.vscode
./env

files

./files

./word-based-cards/files
./essay-based-cards/files

words
sentences
essay


words.txt
sentences.txt
essay.txt


./word-based-cards/words.txt
./sentence-based-cards/sentences.txt
./essay-based-cards/essay.txt

__pycache__

